<br />
<br />
<section class="mb-4">

    <!--Section heading-->
    <h1 class="h1-responsive font-weight-bold text-center my-4">Contact us</h1>
    <br />
    <!--Section description-->
    <h4 class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you with in
        a matter of hours to help you.
    </h4>
    <br />
    <div class="row">
        <!--Grid column-->
        <div class="col-md-8 md-md-3 ">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" placeholder="Your name" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" placeholder="Your email" name="email" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <br />
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" placeholder="Subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <br />
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" placeholder="Your message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
            </form>
            <br />
            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-4 ">
            <p>
                2019 is the year for chunky shoes and trainers, the chunkier the better. That's the rule when it comes to footwear.
            </p>
            <br />
            <p>
                Benefits of wearing the latest trend is that, not only do they look great and update any outfit or plain white
                t-shirt instantly but they are comfortable and supportive for our feet too.
            </p>
        </div>
        </div>
</section>
<!--Section: Contact v.2-->
