
@{
    ViewData["Title"] = "Men";
}




@section Styles{
    <link rel="stylesheet" href="~/css/index.css" />
}


<h2>Men</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="row">

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> sport </li>
                        <li class="grey">$ 79.99 / </li>
                        <img src="~/images/women/sport/sport.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>


                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> boots </li>
                        <li class="grey">$ 129.99 / </li>
                        <img src="women/boots/boots3.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> sandal </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="women/sandal/sandal5.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> heels </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="women/heels/heels4.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> boots </li>
                        <li class="grey">$ 79.99 / </li>
                        <img src="men/boots/boots.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> Sandal </li>
                        <li class="grey">$ 129.99 / </li>
                        <img src="women/sandal/sandal3.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> elegant </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="men/elegant/elegant4.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> boots </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="women/boots/boots2.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> heels </li>
                        <li class="grey">$ 79.99 / </li>
                        <img src="women/heels/heels3.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>


                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> sport </li>
                        <li class="grey">$ 129.99 / </li>
                        <img src="men/sport/sport4.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> elegant </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="men/elegant/elegant2.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> sport </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="men/sport/sport.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> boots </li>
                        <li class="grey">$ 79.99 / </li>
                        <img src="men/boots/boots4.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>


                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> heels </li>
                        <li class="grey">$ 129.99 / </li>
                        <img src="women/heels/heels3.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> sport </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="women/sport/sport3.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>

                <div class="col-sm-3" class="columns" padding-top='300dp'>
                    <ul class="price">
                        <li class="header"> sport </li>
                        <li class="grey">$ 99.99 / </li>
                        <img src="women/sport/sport2.jpg">
                        <li class="grey"><a href="#" class="button">Add</a></li>
                    </ul>
                </div>
            </div>


        </div>
        </br>
        <div class="col-sm-2">

            <div class="row-sm-2" class="columns" padding-top='300dp'>
                <ul class="price">
                    <li class="header"> gender </li>
                    <li class="grey"> men </li>
                    <li class="grey"> women </li>
                </ul>
            </div>

            <div class="row-sm-1" class="columns" padding-top='300dp'>
                <ul class="price">
                    <li class="header"> color </li>
                    <li class="grey"> black </li>
                    <li class="grey"> blue </li>
                    <li class="grey"> white </li>
                    <li class="grey"> red </li>
                    <li class="grey"> pink </li>
                </ul>
            </div>

        </div>
    </div>
</div>
